* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input {
    background: #FFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 32px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.input-adress {
    flex: 0.8;
    background-image: url(../img/home.svg);
}
.input-search {
    background-image: url(../img/search.svg);
    width: 300px;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background: #FFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    color: #595959;
}
.button-primary {
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFFFFF;
    margin-right: 10px;
}
.button-icon {
    margin-right: 4px;
}
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-img.png) no-repeat top -110px right -330px / 860px;
    border-radius: 10px;
    padding: 68px 70px;
    margin-bottom: 56px;
}
.promo-text {
    max-width: 540px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #302C34;
}
.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 15px;
    color: #302C34;
}
.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}
.section-title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin: 0px;
    color: #000000;

}
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 32%;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding: 20px 35px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    margin: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}
.card-tag {
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
    background: #262626;
    border-radius: 2px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
}
.rating {
    padding-right: 26px;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    color: #FFC107;
}
.price, .category {
    padding-right: 10px;
    font-size: 18px;
    line-height: 32px;
    color: #8C8C8C;
}
.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 120px;
}
.price::after {
    content: "";
    height: 5px;
    width: 5px;
    background: #8c8c8c;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 10px;
}
.main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.footer {
    padding: 60px 0px;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-link {
    display: inline-block;
    color: #595959;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.footer-nav {
    margin-left: 35px;
    margin-right: auto;
}
.social-links {
    display: flex;
    align-items: center;
}
.social-link:not(:last-child) {
    margin-right: 21px;
}
@media(max-width: 1366px) {
    .container {
        width: 960px;
    }
    .promo {
        background-position: center right -300px;
        background-size: 750px;
    }
    .category, .price {
        font-size: 14px;
    }
    .rating {
        padding-right: 15px;
    }
}
@media(max-width: 992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
        background-size: 500px;
        background-position: center right -200px;
    }
    .promo-text {
        font-size: 18px;
        max-width: 400px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer-link {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        .container {
            max-width: 560px;
        }
        .card-ingo {
            flex-wrap: wrap;
        }
        .rating {
            flex-basis: 100%;
        }
        .card-title {
            font-size: 18px;
        }
        .promo-title {
            font-size:  24px;
            line-height: 1.4;
        }
        .promo {
            background-size: 400px;
            background-position: bottom right -200px;
        }
    }
}